* {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {

    .header {
        display: flex; 
        justify-content: flex-end;
        position: fixed;
        right: 0;
        background-color: white;
    }

    .logo-box {
        padding: 6px 6px 0px 45px;
        display: flex;
        border-bottom: solid black;
        border-bottom-width: 3px;
    }

    .volkswagon {
        font-family: 'Lalezar', cursive;
        font-size: 20px;
        margin: 0;
    }

    .logo {
        width: 18px;
        padding-left: 4px;
        padding-bottom: 5px;
    }

    h2 {
        font-family: 'Lalezar', cursive;
        text-align: center;
        padding: 40px 100px;
    }

    h1 {
        font-family: 'Lalezar', cursive;
        text-align: center;
        padding: 60px 100px 30px 100px;
    }

    .section1-img {
        padding-top: 15px;
        background: cover;
        width: 100%;
    }

    .section2, .section4, .section6, .section8, .section10 {
        display: block;
    }

    .section2-img, .section4-img, .section6-img, .section8-img, .section10-img {
        padding-top: 15px;
        background: cover;
        width: 75%;
        padding-bottom: 10px;
    }

    .section2-box, .section4-box, .section6-box, .section8-box, .section10-box {
        padding-left: 20px;
        padding-top: 0;
        padding-bottom: 70px;
        border-left: 3px solid black;
        font-family: 'Lalezar', cursive;
        font-size: 22px;
        width: 110px;
        text-align: left;
        margin-left: 20px;
    }

    .section3, .section5, .section7, .section9 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .section3-img, .section5-img, .section7-img, .section9-img {
        padding-top: 15px;
        background: cover;
        width: 75%;
        padding-left: 30%;
        padding-bottom: 10px;
    }

    .section3-box, .section5-box, .section7-box, .section9-box {
        padding: 20px;
        padding-top: 0;
        padding-bottom: 70px;
        border-right: 3px solid black;
        font-family: 'Lalezar', cursive;
        font-size: 22px;
        width: 155px;
        text-align: right;
        margin-right: 20px;
    }

    
}
