* {
    padding: 0;
    margin: 0;
}

.section1, .section6 {
    position: relative;
    display: flex;
    justify-content: center;
    
}

.header {
    display: flex; 
    justify-content: space-between;
    position: fixed;
    padding-bottom: 2px;
    border-bottom: 3px solid black;
    right: 0;
    width: 100%;
    z-index: 1;
}

.ham-menu {
    padding: 14px 10px 0px 20px;
}

p {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

.dividingText {
    margin-top: 140px;
    margin-bottom: 140px;
    padding: 0px 20%;
    text-align: center;
    font-family: 'Lalezar', cursive;
}

.logo-box {
    position: relative;
    padding: 6px 6px 0px 25px;
    display: flex;
}

.volkswagon {
    font-family: 'Lalezar', cursive;
    font-size: 25px;
    margin: 0;
}
.dealer {
    font-family: 'Lalezar', cursive;
    font-size: 30px;
    text-align: center;
    Margin: 20% 15% 5% 15%;
    color: #486952;
    width: cover;
    padding: 9px 5px 5px 5px;
    border: 2px solid #486952;
}

.logo {
    width: 25px;
    padding-left: 4px;
    padding-bottom: 8px;
}

.tagline {
    position: absolute;
    font-family: 'Lalezar', cursive;
    font-size: 26px;
    text-align: center;
    padding: 82% 28% 44% 28%;
    color: white;
}

.heading {
    position: absolute;
    font-family: 'Lalezar', cursive;
    font-size: 45px;
    text-align: center;
    padding: 26% 15%;
    color: white;
    line-height: 50px;
}

.img6Casing {
    padding-top: 40px;
    margin-bottom: 40px;
}

.section6a-img {
    width: 100%;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
}

.section1a-img {
    padding-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

.section1b-img, .section6b-img {
    padding-top: 40px;
    background: cover;
    width: 100%;
    display: none;
}

.section2, .section4, .section8, .section10 {
    margin-top: 100px;
    display: block;
}

.section2-img, .section4-img, .section8-img, .section10-img {
    background: cover;
    width: 75%;
}

.section2-box, .section4-box {
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 120px;
    border-left: 4px solid black;
    font-family: 'Lalezar', cursive;
    width: 80%;
    height: 50px;
    text-align: left;
    margin-left: 20px;
}

h2 {
    line-height: 35px;
    font-size: 145%;
}

.section6-box {
    position: absolute;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 35% 18%;
    font-size: 28px;
    color: #353013;
    z-index: 0;
}

.section8-box, .section10-box {
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 120px;
    border-left: 4px solid #353013;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    height: 50px;
    text-align: left;
    margin-left: 20px;
    color: #353013;
}

.section3, .section5, .section7, .section9 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section3-img, .section5-img, .section7-img, .section9-img {
    background: cover;
    width: 75%;
    margin-bottom: 4px;
}

.section3-box, .section5-box {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 120px;
    border-right: 4px solid black;
    font-family: 'Lalezar', cursive;
    width: 80%;
    height: 50px;
    text-align: right;
    margin-right: 20px;
}

.section7-box, .section9-box {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 120px;
    border-right: 4px solid #353013;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    width: 80%;
    height: 50px;
    text-align: right;
    margin-right: 20px;
    color: #353013;
}

.section8-img, .section10-img {
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
}

.section7-img, .section9-img {
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}

footer {
    text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-bottom: 25px;
}

@media screen and (min-width: 500px) { 

    .header {
        display: flex; 
        justify-content: space-between;
        position: fixed;
        border-bottom: none;
        padding-bottom: 0;
        right: 0;
        width: 100%;
        z-index: 1;
    }

    .ham-menu {
        padding: 14px 10px 2px 20px;
        border-bottom: 3px solid black;
    }

    .logo-box {
        position: relative;
        padding: 6px 6px 2px 25px;
        display: flex;
        border-bottom: 3px solid black;
    }
    
    .section1a-img {
        padding-top: 0;
        padding-bottom: 140px;
        width: 100%;
    }

    .tagline {
        position: absolute;
        font-family: 'Lalezar', cursive;
        font-size: 26px;
        text-align: center;
        padding: 70% 28% 40% 28%;
        color: white;
    }
    
    .heading {
        position: absolute;
        font-family: 'Lalezar', cursive;
        font-size: 45px;
        text-align: center;
        padding: 28% 20% 60%;
        color: white;
        line-height: 65px;
    }
}

@media screen and (min-width: 750px) {      
    .section1a-img, .section6a-img {      
    	display: none;
    } 
    .section1b-img, .section6b-img {      
    	display: block;
    } 

    h2 {
        font-size: 145%;
    }

    p {
        margin-top: 15px;
    }

    .heading {
        position: absolute;
        font-family: 'Lalezar', cursive;
        font-size: 60px;
        text-align: center;
        padding: 9% 10% 60%;
        color: white;
    }

    .tagline {
        position: absolute;
        font-family: 'Lalezar', cursive;
        font-size: 26px;
        text-align: center;
        padding: 21% 7% 40% 70%;
        color: white;
    }

    .section6-box {
        position: absolute;
        text-align: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 6% 4% 30% 48%;
        font-size: 32px;
        color: #353013;
        z-index: 0;
    }

    .section2, .section4, .section8, .section10 {
        padding-top: 150px;
        display: flex;
    }

    .section3, .section5, .section7, .section9 {
        padding-top: 150px;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .section2-box, .section4-box {
        padding-left: 20px;
        border-left: 4px solid black;
        font-family: 'Lalezar', cursive;
        width: 30%;
        height: 200px;
        text-align: left;
        margin-left: 20px;
        position: flex;
        padding-right: 3%;
    }

    .section3-box, .section5-box {
        padding: 20px;
        padding-top: 0;
        padding-bottom: 120px;
        border-right: 4px solid black;
        font-family: 'Lalezar', cursive;
        width: 30%;
        height: 200px;
        text-align: right;
        margin-right: 20px;
    }

    .section7-box, .section9-box {
        padding: 20px;
        padding-top: 0;
        padding-bottom: 120px;
        border-right: 4px solid #353013;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 30%;
        height: 250px;
        text-align: right;
        margin-right: 20px;
        color: #353013;
    }

    .section8-box, .section10-box {
        padding-left: 20px;
        padding-top: 0;
        padding-bottom: 120px;
        border-left: 4px solid #353013;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 30%;
        height: 300px;
        text-align: left;
        margin-left: 20px;
        color: #353013;
    }

    .dividingText {
        margin-top: 200px;
        margin-bottom: 80px;
        padding: 0px 20%;
        text-align: center;
        font-family: 'Lalezar', cursive;
        font-size: 50px;
    }

    
    
}

@media screen and (min-width: 1100px) {

    .section6-box {
        position: absolute;
        text-align: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 6% 4% 70% 48%;
        font-size: 45px;
        color: #353013;
        z-index: 0;
    }
}
